# Required
DATABASE_URL=tcp://localhost:9000/default

# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8081
SERVER_WORKERS=2

# Logging Configuration
LOG_DIR=./logs
LOG_FILE=./test_logs/line_1m.log
